@media only screen and (max-width:550px){
    .nav-2{
        flex-direction: column;
    }
    div.drop-down{
        grid-template-columns: 1fr;
        top: 40px;
        left: -100px;
        width: 310px;
        padding-top:12px ;
        padding-bottom:12px ;
    }    
    div.drop-down-m{
        height: 60px;
        margin: 0px 2px;
    }
    p.h-m-1{
        font-size: 16px;
    }

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
::selection {
    color: rgb(255, 255, 255);
    background: rgb(35, 35, 35)
  }
/* p{
    margin: 0;
    padding: 0;
} */
header{
    background-color: rgba(216, 216, 216, 0.2);
    box-shadow: 0px 0.01px 3px rgb(193, 191, 191);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div a{
    font-weight: 600;
    font-size: 26px;
    color: rgb(255, 89, 0);
    text-decoration: none;
}
.logo:hover{
    cursor: pointer;
}
#type{
    position: relative;
}
.nav-2{
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 10vh;
    background-image: linear-gradient(360deg, #00000066, rgba(50, 50, 50, 0.6));
    z-index: 1;

}
p.h3{
    color: rgb(254, 255, 255);
    font-weight: 300;
    font-size:16px;
    line-height: 24px;
}
p.h3 span{
    color: hsl(0, 0%, 50%);
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
}
p.h4{
    color: rgb(254, 255, 255);
    font-weight: 400;
    font-size:18px;
}
.drop-down-m{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(45, 159, 155,0.05);
    border-radius: 10px;
    height: 90px;
    margin: 8px;
    padding-left: 10px;
    transition: background-color 0.15s;
    transition: background-color 0.15s;
    cursor: pointer;
}

a.h4{
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    border: 12px solid rgba(255, 0, 0,0);
}  
.drop-down{
    visibility: hidden;
    top: 40px;
    right: 5px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 650px;
    padding-bottom: 1px;
    padding-top: 1px;
    box-shadow:  1px 1px 5px rgba(204, 204, 204,0.6) ;
}
.h-m-1{
    font-size: 24px;
    font-weight: 600;
    
}
.c-m-1{
    margin-top: -2px;
    font-size: 14px;
    font-weight: 400;
    width: 284px;
    line-height: 18px;
}
#color-1:hover{
        background-color:#6cd6bf;
        color: #579587;
        
        outline: 21px solid transparent;
        box-shadow: 0 0 1px rgba(255, 255, 255, 0)
}
#color-2:hover {
    background-color: #ffdb7f;
    color: #c19934;
    
    outline: 21px solid transparent;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0)
}
#color-3:hover{
    background-color:#b6d9fe;
    color: #3371a7;
    
    outline: 21px solid transparent;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0)
}
#color-4:hover{
    background-color:#83c6fc;
    color:#45779f ;
    
    outline: 21px solid transparent;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0)
}
#color-5:hover{
    background-color:#2d9f9b;
    color:#2e5452 ;
    
    outline: 21px solid transparent;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0)
}
#color-6:hover{
    background-color:#e75555;
    color: #7f2f2f;
    
    outline: 21px solid transparent;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0)
}
.c-m{
    color: rgb(70, 70, 70);
}
.color-overlay{
    bottom: 0;
    left: 40%;
}
.color-box{
    display: grid;
    position: relative;
    
    grid-template-rows: 5fr 4fr 3fr 2fr 1fr ;
    grid-template-columns:1fr;
    height: 90vh;
    width: 100vw;

}
#clr1{
    background-color: rgb(198, 198, 198);
    box-shadow: inset 0px -4px 3px rgba(112, 112, 112, 0.3);
}
#clr2{
    background-color: rgb(100, 174, 135);
    box-shadow: inset 0px -4px 3px rgba(112, 112, 112, 0.3);
}
#clr3{
    background-color: rgb(103, 82, 159);
    box-shadow: inset 0px -4px 3px rgba(112, 112, 112, 0.3);
}
#clr4{
    background-color: rgb(255, 145, 0);
    box-shadow: inset 0px -4px 3px rgba(112, 112, 112, 0.3);
}
#clr5{
    background-color: rgb(78, 129, 173);
    box-shadow: inset 0px -4px 3px rgba(112, 112, 112, 0.3);
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}